<%- include("../partials/header") %>

<div class="container">

	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To YelpCamp!</h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<p>
				<a href="/campgrounds/new" class="btn btn-primary btn-large">Add New Campground</a>
			</p>
			
		</div>
	</header>

	<div class="row text-center">
		<% camp.forEach(function(ob){ %>
			<div class="col-md-3 col-sm-6">
				<div class="card mb-4">
					<img src="<%= ob.image %>" class="img-thumbnail"></img>
					<div class="caption">
						<h4><%= ob.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= ob._id%>" class="btn btn-primary">More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>

</div>
<%- include("../partials/footer") %>

