<%- include("../partials/header") %>

<div class="container">

	<header class="jumbotron">
		<div class="container">
			<h1>Welcome To YelpCamp <i class="fas fa-campground "></i></h1>
			<p><b>View our hand-picked campgrounds from all over the world</b></p>
			<p>
				<a href="/campgrounds/new" class="btn btn-primary btn-large"><i class="fas fa-plus"></i> Add New Campground</a>
			</p>
			
		</div>
	</header>

	<div class="row text-center">
		<% camp.forEach(function(ob){ %>
			<div class="col-md-3 col-sm-6">
				<div class="card img-thumbnail">
					<img src="<%= ob.image %>" class="card-img-top hand-width"></img>
					<div class="caption">
						<h4 class="mb-2 mt-2"><%= ob.name %></h4>
					</div>
					<p>
						<a href="/campgrounds/<%= ob._id%>" class="btn btn-primary"><i class="fas fa-align-justify"></i> More Info</a>
					</p>
				</div>
			</div>
		<% }); %>
	</div>

</div>
<%- include("../partials/footer") %>

